[submodule "src/xarm_ros2"]
	path = src/xarm_ros2
	url = git@github.com:drewdewet/xarm_ros2.git
[submodule "src/robotic_arm"]
	path = src/robotic_arm
	url = git@github.com:uc-vision/robotic_arm.git
[submodule "src/zed-ros-wrapper"]
	path = src/zed-ros-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
[submodule "src/nmea_msgs"]
	path = src/nmea_msgs
	url = https://github.com/ros-drivers/nmea_msgs.git
[submodule "src/zed_msgs"]
	path = src/zed_msgs
	url = git@github.com:stereolabs/zed-ros2-interfaces.git
[submodule "src/zed_interfaces"]
	path = src/zed_interfaces
	url = git@github.com:stereolabs/zed-ros2-interfaces.git
